.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    background-color: white;
}
/*shared style*/
.btn-primary{
    background-color: blue;
    color: white;
    font-size: 16px;
    font-weight: semi-bold;
    width: 132px;
    height: 48px;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
}
.btn-primary:hover{
    background-color: white;
    color:blue;
    cursor: pointer;
    transition: 0.5s;
}

.primary-text-color{
    color: blue;
}
.section-title{
    font-size: 40px;
    color: 252432;
}
.section-description{
    font-size: 24px;
    color:rgb(130, 129, 129);
}

/*nav styles*/
nav{
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin: 0 150px;
}
nav .logo{
 font-size: 34px; 
}

/*header styles*/
header{
background-image: url(/Assets/Hero-bg.png);
width: 100%;
height: 100vh;
}
.header-container{
    text-align: center;
    margin: 155px 265px;

}
.header-title{
    font-size: 65px;
    font-weight: bold;
}
.header-btn{
    width: 170px;
}

/*main styles*/
main{
    margin:135px 155px;
}

/* first section styles */
.first-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first-section img{
    width: 400px;
    height: 300px;
    border-radius: 48px;
}
.launch-btn{
    width:230px;
}
.section-content{
    max-width: 500px;

}

/* second section styles */
.second-section{
    
}
.sec-section-title{
    font-size: 38px;
    font-weight: bold;
}
.second-sec-container{
    text-align: center;
    background-color: rgb(214, 214, 229);
    padding: 50px 150px;
    margin:130px 0;
    border-radius: 24px;

}
.items{
    display: flex;
    justify-content: space-around;
}
.main-item{
    font-size: 60px;
    font-weight: bold;
    color: blue;
}
.item-des{
    font-size: 20px;
}